body {
    background-color: #1F2937;
    margin: 0px;
}


.navbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #1F2937;
    width: 100%;
    margin: 0;
}

.links {
    display: flex;
    flex-basis: 60%;
    justify-content: space-evenly;
}

.img{
    width: 40px;
    height: auto;
}


.main {
    display: flex;
    justify-content: space-evenly;
    margin-top: 120px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 100px;
}

.main img {
    height: auto;
    width: 30%;
}

.main-title {
width: 50%;
color: #F9FAF8;
}

.main-title h1 {
    font-size: 48px;
    font-weight: bolder;
    margin: 1px;
}

.main-title p {
    font-size: 18px;
    color: #E5E7EB;
    margin: 1px;
}

.main-title button {
    background-color: #3882F6;
    font-size: 14px;
    font-weight: bold;
    color: #F9FAF8;
    border: none;
    border-radius: 5px;
    padding: 5px 20px;
}

.hover:hover {
background-color: #F9FAF8;
color: #3882F6;
}

.midsec {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    background-color: #F9FAF8;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-top: 50px;
    padding-bottom: 50px;
    width: 100%;
}

.midsec h1 {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.image-row {
    display: flex;
    flex: 1;
    justify-content: space-evenly;

}
.image-row .midsec-img {
    width: 15%;
    height: auto;
}

.subtext {
    display: flex;
    flex: 1;
    justify-content: space-evenly;
    width: 100%;
}

.subtext p {
    width: 175.95px;
    height: auto;
    text-align: center;
}

.quote {
    background-color: #E5E7EB;
    padding-top: 100px;
    padding-bottom: 100px;
}

.quote #quotecontent {
    margin: 0px;
    font-size: 36px;
    color: #1F2937;
    font-weight: lighter;
    font-style: italic;
    padding-left: 100px;
    padding-right: 100px;
}

#author {
    text-align: right;
    padding-right: 150px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 28px;
}